/* 
==============
Reset CSS
==============
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 
==============
Variables
==============
*/
:root {
  --book-width: 150px;
  --book-height: 245px;
  --font-1: "Times New Roman", Times, serif;
  --font-2: Arial, sans-serif;
}

/* Global Styles */
body {
  font-family: var(--font-2);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-1);
  font-weight: bold;
}

/* Page styling */

::backdrop {
  background-image: linear-gradient(
    45deg,
    magenta,
    rebeccapurple,
    dodgerblue,
    green
  );
  opacity: 0.75;
}

main {
  min-height: 100vh;
}
.container {
  width: 90vw;
  max-width: 980px;
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .container {
    padding: 0;
  }
}

/* header */
header {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
#add-book {
  padding: 0.75rem;
  background: linear-gradient(
    to right,
    #020024,
    #090979,
    #00d4ff,
    #ff00e0,
    #660066
  );
  color: white;
  border-radius: 3px;
  font-weight: bold;
}

/* book container */
.books-container {
  display: grid;
  grid-template-columns: 1frs;
  gap: 1rem;
  padding-bottom: 5rem;
}
@media screen and (min-width: 350px) {
  .books-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 576px) {
  .books-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 768px) {
  .books-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
.book {
  aspect-ratio: 1/1.62;
  border: 1px solid hsla(0, 0%, 0%, 0.3);
  border-radius: 3px;
  padding: 0.5rem;
  display: grid;
  grid-template-rows: 1fr auto;
  gap: 0.5rem;
  box-shadow: 1px 1px 5px hsla(162, 20%, 46%, 0.3);

  & .book-content {
    overflow-y: hidden;
    display: grid;
    grid-template-rows: 1fr auto;
    gap: 0.5rem;

    & .book-title {
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
    }
    & .book-by {
      margin-bottom: 0.5rem;
      color: hsla(0, 0%, 0%, 0.8);
    }
    & .book-author {
      font-variant: small-caps;
    }
    & > :last-child {
      display: flex;
      justify-content: space-between;
      font-family: monospace;
      font-size: 0.75rem;
      color: hsla(0, 0%, 0%, 0.8);
      letter-spacing: -1px;
    }
  }

  & footer {
    background: linear-gradient(
      to right,
      transparent,
      transparent,
      hsla(0, 0%, 0%, 0.05)
    );
    position: relative;

    border-radius: 3px;
    & .dropBtn {
      display: flex;
      justify-content: flex-end;
    }
    & .dropBtn:after {
      content: "\2807";
      font-size: 1.6rem;
      cursor: pointer;
      color: hsla(0, 0%, 0%, 0.7);
      letter-spacing: -0.5rem;
    }
    & .dropdown-content {
      gap: 0.5rem;
      display: none;
      position: absolute;
      background: white;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      padding: 1rem;
      border-radius: 5px;
    }
    & .show {
      display: grid;
    }
    & input {
      margin: 0;
    }
    & .delete-button {
      padding: 0;
      border: none;
      background: none;

      & img {
        width: 10px;
        height: auto;
      }
    }
  }
}
@media screen and (min-width: 768px) {
  .book {
    padding: 1rem;
  }
}

/* modal dialog */
#dialog form p:not(:last-of-type) label {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}
form p {
  margin-bottom: 0.5rem;
}
